body {
    font-size: larger;
    color: rgb(200, 255, 255);
    background: linear-gradient(to right, black, rgb(175, 175, 100), black, rgb(175, 50, 50), black, rgb(200, 80, 80), black, rgb(125, 10, 200), black, rgb(0, 0, 200), black);
}
header {
    background: linear-gradient(to right, black, rgb(200, 200, 100), black, rgb(200, 50, 50), black, rgb(250, 100, 100), black, rgb(150, 50, 250), black, rgb(50, 50, 250), black);

}