{% extends 'core/base.html' %}
{% load static %}
{% block title %}Acerca De{%endblock title %}
{% block estilos %}{% static 'css/estilos.css' %}{% endblock estilos %}
{% block nav_inicio %}{% url 'core:index' %}{% endblock nav_inicio %}
{% block nav_acerca_de %}#{% endblock nav_acerca_de %}
{% block contactanos %}{% url 'core:contactanos' %}{% endblock contactanos %}
{% block content %}
<div class="container contenedor">
    <div class="row">
        <div class="col-12 col-md-5 row">
            <div class="col-12">
                <h2 class="video_tema texto_titulo p-5">HISTORIA DE PYTHON</h2>
            </div>
            <div class="col-12">
                <p class="col-12 texto_parrafo p-2">Un video corto con un resumen de la historia de <strong>PYTHON</strong> hecho por el creador de contenido <strong>CODIGO FACILITO</strong></p>
            </div>
        </div>
        <div class="col-12 col-md-7 d-flex justify-content-center">
            <iframe class="ratio ratio-21x9" src="https://www.youtube.com/embed/KGivghDWg_c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>
<div class="container contenedor p-2">
    <div class="col-12 row">
        <div class="col">
            <h2 class="texto_titulo p-5">VERSIONES DE PYTHON</h2>
        </div>
        <div class="col">
            <p class="texto_parrafo p-2">Al igual que toda herramienta de la que hacemos uso en el hambito de la programacion <strong>PYTHON</strong> ha pasado por varias versiones. A continuacion vamos a listar muchas de ellas.</p>
        </div>
    </div>
    <ul class="list-group" scrolling="auto">
    {% for version_python in listado_versiones %}
        <li class="list-group-item zoom fondo_items">
        <div class="row">
            <div class="row col-12 col-md-7">
                <div class="col-12">
                    <h3 class="titulo_version">{{version_python.nombre}}</h3>
                </div>
                <div class="col-12">
                    <p class="descripcion_version">{{version_python.descripcion}}</p>
                </div>
            </div>
            <div class="col-12 col-md-5">
                <a class="link_version" target="_blank" href="{{version_python.url}}">
                    <img class="w-75 zoom_img_ver rounded mx-auto d-block" src="{{version_python.imagenes.url}}" alt="imagen version">
                </a>
            </div>
        </div>
        </li>
    {% endfor %}
    </ul>
</div>

<!--raul-->
<div class="container mt-3">
    <center>
        <p class="fw-bold text-decoration-underline fs-1">Editores de Código de Python o entornos de desarrollo IDE</p>
    </center>
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
                aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4"
                aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5"
                aria-label="Slide 6"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6"
                aria-label="Slide 7"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="7"
                aria-label="Slide 8"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="8"
                aria-label="Slide 9"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="9"
                aria-label="Slide 10"></button>
        </div>

        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'images/ide4.jpg' %}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5><a style="text-decoration: none; color: rgb(7, 216, 146);" href="https://www.sublimetext.com/" target="_blank" rel="noopener noreferrer">Sublime Text
                            3</a></h5>
                    <p>Sublime Text 3 es un editor de código que admite muchos idiomas, incluido Python. Tiene soporte básico incorporado para Python. La personalización de Sublime Text 3 está disponible para crear un entorno de programación Python completo. El editor es compatible con los sistemas operativos OS X, Windows y Linux.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/ide2.jpg' %}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5><a style="text-decoration: none; color: rgb(7, 216, 146);" href="https://www.spyder-ide.org/" target="_blank" rel="noopener noreferrer">Spyder</a></h5>
                    <p>Spyder es un entorno de desarrollo científico integrado escrito en Python. Este software está diseñado para y por científicos que pueden integrarse con Matplotlib, SciPy, NumPy, Pandas, Cython, IPython, SymPy y otro software de código abierto. </p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/ide3.jpg' %}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5><a style="text-decoration: none; color: rgb(7, 216, 146);" href="https://docs.python.org/3/library/idle.html" target="_blank"
                            rel="noopener noreferrer">IDLE</a></h5>
                            <p>IDLE (Integrated Development and Learning Environment) es un editor predeterminado que viene con Python. Este software ayuda a un principiante a aprender Python fácilmente. El paquete de software IDLE es opcional para muchas distribuciones de Linux. La herramienta se puede usar en Windows, macOS y Unix.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/ide1.jpg' %}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5><a style="text-decoration: none; color: rgb(7, 216, 146);" href="https://www.jetbrains.com/pycharm/" target="_blank"
                            rel="noopener noreferrer">PyCharm</a></h5>
                    <p>PyCharm es un IDE multiplataforma utilizado para la programación de Python. Este editor se puede usar en Windows, macOS y Linux. Este software contiene API que los desarrolladores pueden usar para escribir sus propios complementos de Python para que puedan ampliar las funcionalidades básicas. Además, es un editor gratuito; además de ofrecer una versión de pago.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/ide5.jpg' %}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5><a style="text-decoration: none; color: rgb(7, 216, 146);" href="https://code.visualstudio.com/" target="_blank" rel="noopener noreferrer">Visual Studio
                            Code</a></h5>
                    <p>Visual Studio Code (VS Code) es un entorno de código abierto desarrollado por Microsoft. Este IDE se puede usar para el desarrollo de Python. Visual Studio Code se basa en Electron, que es un marco para implementar aplicaciones Node JS para la computadora que se ejecuta en el motor del navegador Blink.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/ide6.jpg' %}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5><a style="text-decoration: none; color: rgb(7, 216, 146);" href="https://atom.io/" target="_blank" rel="noopener noreferrer">Atom</a></h5>
                    <p>Atom es una herramienta útil de editor de código preferida por los programadores debido a su interfaz simple en comparación con los otros editores. Los usuarios de Atom pueden enviar paquetes y ellos para el software.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/ide7.jpg' %}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5><a style="text-decoration: none; color: rgb(7, 216, 146);" href="https://jupyter.org/install.html" target="_blank" rel="noopener noreferrer">Jupyter</a>
                    </h5>
                    <p>Jupyter es una herramienta para las personas que acaban de comenzar con la ciencia de datos. Es un IDE interactivo de ciencia de datos fácil de usar en muchos lenguajes de programación.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/ide8.jpg' %}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5><a style="text-decoration: none; color: rgb(7, 216, 146);" href="https://www.pydev.org/" target="_blank" rel="noopener noreferrer">Pydev</a></h5>
                    <p>PyDev es un editor de Python de terceros para Eclipse. Este editor puede usarse no solo en Python sino también en el desarrollo de IronPython y Jython.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/ide9.jpg' %}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5><a style="text-decoration: none; color: rgb(7, 216, 146);" href="https://wingware.com/" target="_blank" rel="noopener noreferrer">Wing</a></h5>
                    <p>Wing es un entorno ligero de Python diseñado para brindarle una experiencia de desarrollo productiva. Precio: la prueba Wing Pro es gratuita. Wind Personal y Wing 101 son versiones pagas.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/ide10.jpg' %}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5><a style="text-decoration: none; color: rgb(7, 216, 146);" href="https://www.activestate.com/products/komodo-ide/" target="_blank"
                            rel="noopener noreferrer">Komodo Active Python</a></h5>
                    <p class="text-dark">Aumenta la productividad en el desarrollo de software relacionado a la ciencia de datos con una distribución de Python segura y compatible.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
{% endblock content %}
