{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S_M_A_E - {% block title %}{% endblock title %}</title>
    <link rel="shortcut icon" href="{% static 'images/logo_pagina_django.png' %}" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{% block estilos %}{% endblock estilos %}">
</head>
<body>
    <div class="preloader">
        <div class="spiner1">
            <div class="spiner2">
                <div class="spiner3">
                    <div class="spiner4">
                        <div class="spiner5"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <header>
        <nav class="navbar navbar-expand-xl p-0">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% block nav_inicio %}{% endblock nav_inicio %}">
                    <img class="logo_encabezado zoom_img" src="{% static 'images/logo_encabezado_pagina_django.png' %}" alt="logo_grupo" width="100rem">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <div>    
                                <a class="nav-link btn btn-one" href="{% block nav_acerca_de %}{% endblock nav_acerca_de %}"><font size="5">Acerca De</font></a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div>                               
                                <a class="nav-link btn btn-one" href="{% url 'cursos:listado_cursos' %}"><font size="5">Cursos</font></a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div>                               
                                <a class="nav-link btn btn-one" href="{% block contactanos %}{% endblock contactanos %}"><font size="5">Contactanos</font></a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle btn btn-one" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"><font size="5">Usuarios</font></a>
                            <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                                <li class="nav-item">
                                    <div class="contenedor-botones">
                                        <a class="nav-link btn btn-one botones" href="{% url 'usuarios:inicio_sesion' %}">Iniciar Sesión</a>
                                    </div>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li class="nav-item">
                                    <div class="contenedor-botones">
                                        <a class="nav-link btn btn-one botones" href="{% url 'usuarios:cerrar_sesion' %}">Cerrar Sesión</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li>
                            {% block busqueda %}{% endblock busqueda %}
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main role="main">
        <div class="row p-5">
            <h1 class="col titulo-paginas">
                <span class="primera letra_titulo">S</span>
                <span class="segunda letra_titulo">i</span>
                <span class="tercera letra_titulo">n</span>
                <span class="letra_titulo"> </span>
                <span class="cuarta letra_titulo">M</span>
                <span class="quinta letra_titulo">i</span>
                <span class="sexta letra_titulo">e</span>
                <span class="septima letra_titulo">d</span>
                <span class="octaba letra_titulo">o</span>
                <span class="letra_titulo"> </span>
                <span class="novena letra_titulo">a</span>
                <span class="decima letra_titulo">l</span>
                <span class="letra_titulo"> </span>
                <span class="decimo_primera letra_titulo">E</span>
                <span class="decimo_segunda letra_titulo">x</span>
                <span class="decimo_tercera letra_titulo">i</span>
                <span class="decimo_cuarta letra_titulo">t</span>
                <span class="decimo_quinta letra_titulo">o</span>
            </h1>
        </div>
    {% block content %}
    {% endblock content %}
    </main>
    <footer>
        <center>        
            <h2 class="p-5 titulo_footer">INTEGRANTES DEL GRUPO</h2>
        </center>
        <div class="row">
            <div class="col-12 col-lg-6 d-flex justify-content-center">
                <div class="card contenedor">
                    <div class="row">
                        <div class="col-12 col-md-6 text-center">
                            <img class="w-100 p-3" src="{% static 'images/imagen_perfil_Raul_Alberto_Suarez.png' %}" class="card-img-top" alt="...">
                        </div>
                        <div class="row col-12 col-md-6 text-center">
                            <div class="col-12">
                                <h3 class="titulo_footer_card p-3">Raul Suarez</h3>
                                <div class=" p-3">
                                    <a class="btn btn-one text-light" target="_blank" href="{% url 'core:portafolio_raul' %}">Sobre Mi</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 d-flex justify-content-center">
                <div class="card contenedor">
                    <div class="row">
                        <div class="col-12 col-md-6 text-center">
                            <img class="w-100 p-3" src="{% static 'images/imagen_perfil_Vilca_Martin_Carlos_Domingo.png' %}" class="card-img-top" alt="...">
                        </div>
                        <div class="row col-12 col-md-6 text-center">
                            <div class="col-12">
                                <h3 class="titulo_footer_card p-3">Martin Vilca</h3>
                                <div class=" p-3">
                                    <a class="btn btn-one text-light" target="_blank" href="{% url 'core:portafolio_martin' %}">Sobre Mi</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/preloader.js' %}"></script>
</body>
</html>