{% extends 'core/base.html' %}
{% load static %}
{% block title %}Inicio{% endblock title %}
{% block estilos %}{% static 'css/estilos.css' %}{% endblock estilos %}
{% block nav_inicio %}#{% endblock nav_inicio %}
{% block nav_acerca_de %}{% url 'core:acerca_de' %}{% endblock nav_acerca_de %}
{% block contactanos %}{% url 'core:contactanos' %}{% endblock contactanos %}
{% block content %}
<div class="accordion" id="accordionExample">
    <div class="row">
        <h2 class="border border-1 border-dark accordion-header" id="headingOne">
            <button class="accordion-button btn btn-one text-light" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <font size="5">Historia de Python</font>
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne">
            <div class="accordion-body text-dark">
                <div class="container mt-3">
                    <div>
                        <div class="card " style="width: 12rem; margin-left: 20px; float: right;">
                            <img src="{% static 'images/guido.jpg' %}" class="card-img-top" alt="imagen_guido">
                            <div class="card-body">
                                <p class="card-text fs-6 fst-italic">
                                    <a href="https://es.wikipedia.org/wiki/Guido_van_Rossum" target="_blank" rel="noopener noreferrer">Guido van Rossum</a> creador dePython, en la convención OSCON 2006
                                </p>
                            </div>
                        </div>
                        <p>
                            <strong>Python fue creado a finales de los ochentas,</strong> por Guido van Rossum en el Centro para las Matemáticas y la Informática (CWI, Centrum Wiskunde & Informatica), en los Países Bajos, como un sucesor del lenguaje de programación ABC, capaz de manejar excepciones e interactuar con el sistema operativo Amoeba.​ El nombre del lenguaje proviene de la afición de su creador por los humoristas británicos Monty Python.​ Guido Van Rossum es el principal autor de Python, y su continuo rol central en decidir la dirección de Python es reconocido, refiriéndose a él como Benevolente Dictador Vitalicio (en inglés: Benevolent Dictator for Life, BDFL); sin embargo el 12 de julio de 2018 declinó de dicha situación de honor sin dejar un sucesor o sucesora y con una declaración altisonante. El 20 de febrero de 1991, van Rossum publicó el código por primera vez en alt.sources, con el número de versión 0.9.0.​ En esta etapa del desarrollo ya estaban presentes clases con herencia, manejo de excepciones, funciones y los tipos modulares, como: str, list, dict, entre otros. Además en este lanzamiento inicial aparecía un sistema de módulos adoptado de Modula-3; van Rossum describe el módulo como «una de las mayores unidades de programación de Python».​ El modelo de excepciones en Python es parecido al de Modula-3, con la adición de una cláusula else.​ En el año 1994 se formó comp.lang.python, el foro de discusión principal de Python, marcando un hito en el crecimiento del grupo de usuarios de este lenguaje. Python alcanzó la versión 1.0 en enero de 1994. Una característica de este lanzamiento fueron las herramientas de la programación funcional: lambda, reduce, filter y map.10​ Van Rossum explicó que «hace 12 años, Python adquirió lambda, reduce(), filter() y map(), cortesía de Amrit Perm, un hacker informático de Lisp que las implementó porque las extrañaba».
                            <br>
                            La última versión liberada proveniente de CWI fue Python 1.2. En 1995, van Rossum continuó su trabajo en Python en la Corporation for National Research Initiatives (CNRI) en Reston, Virginia, donde lanzó varias versiones del software.
                            <br>
                            Durante su estancia en CNRI, van Rossum lanzó la iniciativa Computer Programming for Everybody (CP4E), con el fin de hacer la programación más accesible a más gente, con un nivel de 'alfabetización' básico en lenguajes de programación, similar a la alfabetización básica en inglés y habilidades matemáticas necesarias por muchos trabajadores. Python tuvo un papel crucial en este proceso: debido a su orientación hacia una sintaxis limpia, ya era idóneo, y las metas de CP4E presentaban similitudes con su predecesor, ABC. El proyecto fue patrocinado por DARPA.​ En el año 2007, el proyecto CP4E está inactivo, y mientras Python intenta ser fácil de aprender y no muy arcano en su sintaxis y semántica, alcanzando a los no-programadores, no es una preocupación activa.
                            <br>
                            En el año 2000, el equipo principal de desarrolladores de Python se cambió a BeOpen.com para formar el equipo BeOpen PythonLabs. CNRI pidió que la versión 1.6 fuera pública, continuando su desarrollo hasta que el equipo de desarrollo abandonó CNRI; su programa de lanzamiento y el de la versión 2.0 tenían una significativa cantidad de traslapo.​ Python 2.0 fue el primer y único lanzamiento de BeOpen.com. Después que Python 2.0 fuera publicado por BeOpen.com, Guido van Rossum y los otros desarrolladores de PythonLabs se unieron en Digital Creations.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <h2 class="border border-1 border-dark accordion-header" id="headingTwo">
            <button class="accordion-button collapsed btn btn-one text-light" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <font size="5">Características y paradigmas</font>
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo">
            <div class="accordion-body text-dark">
                <div class="container mt-3">
                    <div>
                        <div class="card" style="width: 16rem;">
                            <img src="{% static 'images/python.jpg' %}" class="card-img-top" alt="imagen_python">
                        </div>
                        <p><strong>Python es un lenguaje de programación multiparadigma.</strong> Esto significa que
                            más que forzar a los
                            programadores a adoptar un estilo particular de programación, permite varios estilos:
                            programación orientada a
                            objetos, programación imperativa y programación funcional. Otros paradigmas están
                            soportados mediante el uso
                            de extensiones.
                            <br>
                            Python usa tipado dinámico y conteo de referencias para la administración de memoria. Una característica importante de Python es la resolución dinámica de nombres; es decir, lo que enlaza un método y un nombre de variable durante la ejecución del programa (también llamado enlace dinámico de métodos). Otro objetivo del diseño del lenguaje es la facilidad de extensión. Se pueden escribir nuevos módulos fácilmente en C o C++. Python puede incluirse en aplicaciones que necesitan una interfaz programable. Aunque la programación en Python podría considerarse en algunas situaciones hostil a la programación funcional tradicional del Lisp, existen bastantes analogías entre Python y los lenguajes minimalistas de la familia Lisp como puede ser Scheme.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <h2 class="border border-1 border-dark acordion-header" id="headingThree">
            <button class="accordion-button collapsed btn btn-one text-light" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <font size="5">Filosofía</font>
            </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree">
            <div class="accordion-body text-dark">
                <div class="container mt-3">
                    <div>
                        <div class="card" style="width: 20rem;">
                            <img src="{% static 'images/filosofia.jpg' %}" class="card-img-top"
                                alt="imagen_filosofia">
                        </div>
                        <p><strong>Los usuarios de Python se refieren a menudo a la filosofía de Python</strong> que es bastante análoga a la filosofía de Unix. El código que siga los principios de Python se dice que es "pythónico". Estos principios fueron descritos por el desarrollador de Python Tim Peters en El Zen de Python.</p>
                        <ul id="lista_seccion_tres">
                            <li>Bello es mejor que feo.</li>
                            <li>Explícito es mejor que implícito.</li>
                            <li>Simple es mejor que complejo.</li>
                            <li>Complejo es mejor que complicado.</li>
                            <li>Plano es mejor que anidado.</li>
                            <li>Disperso es mejor que denso.</li>
                            <li>La legibilidad cuenta.</li>
                            <li>Los casos especiales no son tan especiales como para quebrantar las reglas.</li>
                            <li>Lo práctico gana a lo puro.</li>
                            <li>Los errores nunca deberían dejarse pasar silenciosamente.</li>
                            <li>A menos que hayan sido silenciados explícitamente.</li>
                            <li>Frente a la ambigüedad, rechaza la tentación de adivinar.</li>
                            <li>Debería haber una —y preferiblemente solo una— manera obvia de hacerlo.</li>
                            <li>Aunque esa manera puede no ser obvia al principio a menos que usted sea holandés.</li>
                            <li>Ahora es mejor que nunca.</li>
                            <li>Aunque nunca es a menudo mejor que ya mismo.</li>
                            <li>Si la implementación es difícil de explicar, es una mala idea.</li>
                            <li>Si la implementación es fácil de explicar, puede que sea una buena idea.</li>
                            <li>Los espacios de nombres (namespaces) son una gran idea ¡Hagamos más de esas cosas!</li>
                            <li>Tim Peters, El Zen de Python</li>
                        </ul>
                        <p>Desde la versión 2.1.2, Python incluye estos puntos (en su versión original en inglés) como un huevo de pascua que se muestra al ejecutar import this.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <h2 class="border border-1 border-dark accordion-header" id="headingFour">
            <button class="accordion-button collapsed btn btn-one text-light" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                <font size="5">Modo interactivo</font>
            </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour">
            <div class="accordion-body text-dark">
                <div class="container mt-3">
                    <p><strong>El intérprete de Python estándar incluye un modo interactivo</strong> en el cual se escriben las instrucciones en una especie de intérprete de comandos: las expresiones pueden ser introducidas una a una, pudiendo verse el resultado de su evaluación inmediatamente, lo que da la posibilidad de probar porciones de código en el modo interactivo antes de integrarlo como parte de un programa. Esto resulta útil tanto para las personas que se están familiarizando con el lenguaje como para los programadores más avanzados. Existen otros programas, tales como IDLE, bpython o IPython, que añaden funcionalidades extra al modo interactivo, como la compleción automática de código y el coloreado de la sintaxis del lenguaje.</p>
                    <img src="{% static 'images/inter.png' %}" class="card-img-top" alt="imagen_inter">
                </div>
            </div>
        </div>
    </div>
    <div>
        <h2 class="border border-1 border-dark accordion-header" id="headingFive">
            <button class="accordion-button collapsed btn btn-one text-light" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                <font size="5">Elementos del lenguaje y sintaxis</font>
            </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive">
            <div class="accordion-body text-dark">
                <div class="container mt-3">
                    <p>
                        <strong>Python está destinado a ser un lenguaje de fácil lectura.</strong> Su formato es visualmente ordenado y, a menudo, usa palabras clave en inglés donde otros idiomas usan puntuación. A diferencia de muchos otros lenguajes, no utiliza corchetes para delimitar bloques y se permiten puntos y coma después de las declaraciones, pero rara vez, si es que alguna vez, se utilizan. Tiene menos excepciones sintácticas y casos especiales que C o Pascal.
                        <br>
                        Diseñado para ser leído con facilidad, una de sus características es el uso de palabras donde otros lenguajes utilizarían símbolos. Por ejemplo, los operadores lógicos !, || y && en Python se escriben not, or y and, respectivamente. Curiosamente el lenguaje Pascal es junto con COBOL uno de los lenguajes con muy clara sintaxis y ambos son de la década del 70. La idea del código claro y legible no es algo nuevo.
                        <br>
                        El contenido de los bloques de código (bucles, funciones, clases, etc.) es delimitado mediante espacios o tabuladores, conocidos como indentación, antes de cada línea de órdenes pertenecientes al bloque.​ Python se diferencia así de otros lenguajes de programación que mantienen como costumbre declarar los bloques mediante un conjunto de caracteres, normalmente entre llaves {}.​ Se pueden utilizar tanto espacios como tabuladores para sangrar el código, pero se recomienda no mezclarlos.
                    </p>
                        <br>
                    <center><img src="{% static 'images/gif.gif' %}" class="card-img-top" style="width: 22rem;" " alt="
                            imagen_gif"></center>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}