{% extends 'core/base.html' %}
{% load static %}
{% block title %}Contactanos{% endblock title %}
{% block estilos %}{% static 'css/estilos.css' %}{% endblock estilos %}
{% block nav_inicio %}{% url 'core:index' %}{% endblock nav_inicio %}
{% block nav_acerca_de %}{% url 'core:acerca_de' %}{% endblock nav_acerca_de %}
{% block nav_contactanos %}#{% endblock nav_contactanos %}
{% block content %}
    <div class="container mt-3 bg-dark">
        <form class="row g-3" method="POST" action="">
        {% csrf_token %}
            <div class="col-md-6">
                <label for="validationDefault01" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="validationDefault01" placeholder="nombre/s" name= "nombre"required>
            </div>
            <div class="col-md-6">
                <label for="validationDefault02" class="form-label">Apellido</label>
                <input type="text" class="form-control" id="validationDefault02" placeholder="apellido/s" name="apellido" required>
            </div>
            <div class="col-md-6">
                <label for="validationDefault03" class="form-label">Domicilio</label>
                <input type="text" class="form-control" id="validationDefault03" placeholder="barrio; direccion" name="domicilio" required>
            </div>
            <div class="col-md-6">
                <label for="validationDefault03" class="form-label">Ciudad</label>
                <input type="text" class="form-control" id="validationDefault03" placeholder="ciudad de residencia" name="ciudad" required>
            </div>
            <div class="col-md-6">
                <label for="validationDefault03" class="form-label">País</label>
                <input type="text" class="form-control" id="validationDefault03" placeholder="Pais de residencia" name="pais" required>
            </div>
            <div class="col-md-3">
                <label for="validationDefault05" class="form-label">CP</label>
                <input type="text" class="form-control" id="validationDefault05" placeholder="codigo postal" name="codigo_postal" required>
            </div>
            <div class="col-md-6">
                <label for="validationDefault06" class="form-label">Email</label>
                <div class="input-group">
                    <span class="input-group-text" id="inputGroupPrepend2">@</span>
                    <input type="email" class="form-control" id="validationDefault06" placeholder="ejemplo@gmail.com" aria-describedby="inputGroupPrepend2" name="email" required>
                </div>
            </div>
            <div class="col-md-6">
                <label for="validationDefault07" class="form-label">Celular</label>
                <input type="number" class="form-control" id="validationDefault07" placeholder="numero de celular" pattern="[0-9]+" name="num_telefono" required  >
            </div>
            <div class="mb-3">
                <label for="validationDefault08" class="form-label">Mensaje</label>
                <textarea class="form-control" id="validationDefault08" rows="3" name="msj" required></textarea>
            </div>
            <div class="col-12 p-3">
                <button class="btn btn-primary" type="submit">Enviar</button>
            </div>
        </form>
{% endblock content %}
