{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Martin Vilca</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/estilos_portafolio.css' %}">
</head>
<body>
    <header>
        <div class="contenedor_encabezado zoom">
            <h1>
                <span class="neon_1">Martin </span>
                <span class="neon_2">Carlos </span>
                <span class="neon_3">Domingo </span>
                <span class="neon_4">Vilca</span>
            </h1>
        </div>
    </header>
    <main>
        <div class="row contenedor_cuerpo">
            <div class="col-12 col-lg-3">
                <div class="contenedor_tarjeta">
                    <a target="_blank" href="https://www.fi.unju.edu.ar">
                        <figure id="tarjeta">
                            <img src="{% static 'images/logo_fiunju.jpg' %}" class="frontal" alt="">
                            <figcaption class="trasera">
                                <h2 class="titulo">Estudiante de Ingeniería Informatica en la Universidad Nacional de Jujuy</h2>
                                <hr>
                                <p class="texto_portafolio">Estudio desde el año 2020 en la institucion. </p>
                            </figcaption>
                        </figure>
                    </a>
                </div>
            </div>
            <div class="col-12 col-lg-2"></div>
            <div class="row col-12 col-lg-6">
                <div class="col-12 m-3">
                    <div class="contenedor_2">
                        <h2 class="titulo_cuerpo">Humahuaca</h2>
                        <a href="https://quebradadehumahuaca.com/ciudad/humahuaca/">
                            <img class="w-75 imagen_portafolio" src="{% static 'images/monumento-humahuaca.jpg' %}" alt="">
                        </a>
                        <p class="text_portafolio">Nacido en humahuaca en 1999 </p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="contenedor_pie">
            <a href="mailto:martinkill19@gmail.com">
                <div class="envio_correo">
                    <span>
                        contactame
                    </span>
                </div>
            </a>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>