{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RAUL ALBERTO SUAREZ</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <div class="p-3 mb-2 bg-danger text-white">
    <center>

      <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{% static 'images/img1.jpg' %}" class="d-block w-50" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{% static 'images/img2.jpg' %}" class="d-block w-50" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{% static 'images/img3.jpg' %}" class="d-block w-50" alt="...">
          </div>
        </div>
      </div>

      <!--otro-->
      <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{% static 'images/r1.jpg' %}" class="d-block w-50" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <p class="fw-bold" style="color:#000000" ;>RAUL ALBERTO SUAREZ</p>
              <p style="color:#bda5a5" ;>Estudiante de Ingenieria Informatica</p>
              <P>ARGENTINA</P>
            </div>
          </div>
          <div class="carousel-item">
            <img src="{% static 'images/r2.jpg' %}" class="d-block w-50" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <p class="fw-bold fs-5" style="color:#0c0a97" ;>Conocimientos</p>
              <p class="font-monospace">Microsoft Office</p>
              <p class="font-monospace">Cryptomonedas</p>
              <p class="font-monospace">Python</p>
              <p class="font-monospace">Java</p>

            </div>
          </div>
          <div class="carousel-item">
            <img src="{% static 'images/r3.jpg' %}" class="d-block w-50" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Sobre Mi</h5>
              <p>Jugador de videojuegos, responsable, humilde,</p>
              <p> amante de los comic, me gusta la musica del 2000 para abajo. </p>
            </div>
          </div>
        </div>
      </div>
    </center>


    <!--botones-->
    <section class="buttons">
      <a href="https://www.facebook.com/profile.php?id=100059474906465" class="fa fa-facebook"></a>
      <a href="https://web.whatsapp.com/" class="fa fa-whatsapp"></a>
      <a href="https://www.youtube.com/" class="fa fa-youtube"></a>
    </section>
  </div>

  <!--estilo-->
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: content-box;
    }

    .buttons {

      min-width: 500px;
      display: flex;
      justify-content: center;
    }

    .buttons a {
      margin: 20px;
      text-decoration: none;
      font-size: 28px;
      width: 60px;
      height: 60px;
      line-height: 60px;
      text-align: center;
      background: #314652;
      color: #f1f1f1;
      border-radius: 50%;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
      transition: all .4s ease-in-out;
    }

    .buttons a:hover {
      transform: scale(1.2);
    }
  </style>
</body>

</html>