body {
    background: linear-gradient(to left , rgb(0, 0, 0), rgb(25, 25, 25), rgb(0, 0, 0), rgb(25, 25, 25), rgb(0, 0, 0), rgb(25, 25, 25), rgb(0, 0, 0) );
}
/* encabezado */
.contenedor_encabezado, .contenedor_cuerpo, .contenedor_pie {
    border: 5px solid rgb(0, 175, 0);
    border-radius: 2rem;
    text-align: center;
    margin: 1rem;
    padding: 2rem;
    box-shadow: inset 0 0 20px 8px rgb(0, 255, 0), 0 0 30px 8px rgb(0, 255, 0);
    -moz-box-shadow: inset 0 0 20px 8px rgb(0, 255, 0), 0 0 30px 8px rgb(0, 255, 0);
    -webkit-box-shadow: inset 0 0 20px 8px rgb(0, 255, 0), 0 0 30px 8px rgb(0, 255, 0);
    margin-top: 1rem;
}
.neon_1, .neon_2, .neon_3, .neon_4 {
    font-size: 4rem;
    font-weight: 800;
    font-family: 'Great Vibes', cursive;
    padding-right: 10px;
}
.neon_1 {
    color: rgb(255, 0, 0);
}
.neon_2 {
    color: rgb(255, 255, 0);
}
.neon_3 {
    color: rgb(255, 0, 255);
}
.neon_4 {
    color: rgb(0, 0, 255);
}
.neon_1 {
    text-shadow: 0 0 5px rgb( 225, 0, 0),  0 0 20px rgb( 225, 0, 0), 0 0 35px rgb( 225, 0, 0), 0 0 50px rgb( 225, 0, 0);
}
.neon_1:hover, .envio_correo:hover {
    animation: parpadear_neon_1 0.1s backwards steps(3);
    animation-iteration-count: 3;
    animation-delay: 0.2s;
}
@keyframes parpadear_neon_1 {
    to {
        color: rgb(100, 0, 0);
        text-shadow: none;
    }
}
.neon_2 {
    text-shadow: 0 0 5px rgb(225, 225, 0), 0 0 20px rgb(225, 225, 0), 0 0 35px rgb(225, 225, 0), 0 0 50px rgb(225, 225, 0);
}
.neon_2:hover {
    animation: parpadear_neon_2 0.12s backwards steps(5);
    animation-iteration-count: 3;
    animation-delay: 0.3s;
}
@keyframes parpadear_neon_2 {
    to {
        color:  rgb(100, 100, 0);
        text-shadow: none;
    }
}
.neon_3 {
    text-shadow: 0 0 5px rgb(225, 0, 225), 0 0 20px rgb(225, 0, 225), 0 0 35px rgb(225, 0, 225), 0 0 50px rgb(225, 0, 225);
}
.neon_3:hover {
    animation: parpadear_neon_3 0.1s backwards steps(4);
    animation-iteration-count: 2;
    animation-delay: 0.4s;
}
@keyframes parpadear_neon_3 {
    to {
        color: rgb(100, 0, 100);
        text-shadow: none;
    }
}
.neon_4 {
    text-shadow: 0 0 5px rgb(0, 0, 225), 0 0 15px rgb(0, 0, 225), 0 0 25px rgb(0, 0, 225), 0 0 35px rgb(0, 0, 225);
}
.neon_4:hover {
    animation: parpadear_neon_4 0.1s backwards steps(2);
    animation-iteration-count: 5;
    animation-delay: 0.3s;
}
@keyframes parpadear_neon_4 {
    to {
        color: rgb(0, 0, 100);
        text-shadow: none;
    }
}
.zoom {
    transition: transform 0.3s;
}
.zoom:hover {
    transform: scale(1.02);
    border: 5px solid rgb(0, 200, 0);
}


/* targeta 3d */


a {
	text-decoration: none;
}

.contenedor {
	max-width: 1200px;
	margin:50px auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.contenedor_tarjeta {
	margin: 20px;
}

.contenedor_tarjeta a {
	display: inline-block;
}

.contenedor_tarjeta:hover figure {
	transform: perspective(600px) rotateY(180deg);
	-webkit-box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.25);
	box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.25);
}

figure {
	width: 350px;
	height: 400px;
	margin:0;
	position: relative;
	transition: all ease .5s;
	transform-style: preserve-3d;
	transform: perspective(600px) rotateY(0deg);
}

figure .frontal, figure .trasera {
	width: 100%;
	height: 100%;
	border-radius: 5px;
	transition: all ease .5s;
}

figure .frontal {
	display: block;
	background: #000;
}

figure .trasera {
	position: absolute;
	top: 0;
	padding: 20px;
	color: #fff;
	transform: perspective(600px) rotateY(180deg);
	backface-visibility: hidden;
	overflow: auto;
}

.contenedor_tarjeta figure .trasera{
    background-color: rgba(0,0,0,0.75);
}

figure .trasera hr {
	height: 2px;
	background: #fff;
	border: none;
	margin-bottom: 20px;
	opacity: .5;
}

@media screen and (max-width: 992px) { 
	figure .trasera {
		/*position: relative;*/
		backface-visibility:visible;
		transform: perspective(600px) rotateY(0deg);
	}

	.contenedor_tarjeta:hover figure {
		transform: perspective(600px) rotateY(0deg);	
	}

}
.titulo_cuerpo, figure .trasera .titulo, .envio_correo {
    font-family: 'Great Vibes', cursive;
    font-size: 4rem;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.75);
    text-shadow: 0 0 10px rgb(200, 200, 200), 0 0 15px rgb(200, 200, 200);
    margin-top: 1rem;
}
.titulo_cuerpo {
    font-size: 4rem;
}
figure .trasera .titulo {
    font-size: 2rem;
}
.contenedor_2 {
    background-color: rgba(50, 50, 50, 0.5);
    border: 7.5px solid rgba(0, 225, 225, 1);
    border-radius: 20px;
    box-shadow: inset 0 0 5px 8px rgb(0, 255, 255), inset 0 0 10px 8px rgb(0, 255, 255), 0 0 5px 8px rgb(0, 255, 255), 0 0 10px 8px rgb(0, 255, 255);
    backdrop-filter: blur(12px);
}
.imagen_portafolio {
    border-radius: 15px;
    box-shadow: inset 0 0 5px 8px rgb(0, 255, 255), inset 0 0 10px 8px rgb(0, 255, 255), 0 0 5px 8px rgb(0, 255, 255), 0 0 10px 8px rgb(0, 255, 255);
transition: transform 0.3s;
    margin-bottom: 2rem;
}
.imagen_portafolio:hover {
    transform: scale(1.1);
    box-shadow: 0 0 5px rgb(0, 255, 255), 0 0 10px rgb(0, 255, 255), 0 0 15px rgb(0, 255, 255), 0 0 20px rgb(0, 255, 255);

}
.text_portafolio, figure .trasera p {
    font-size: 1.5rem;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.75);
    text-shadow: 0 0 10px rgb(200, 200, 200), 0 0 15px rgb(200, 200, 200);
}