/* fondo pagina */
body {
    color: rgb(230, 230, 230);
    background: linear-gradient(to right, rgb( 0, 0, 0), rgb(175, 175, 100), rgb( 0, 0, 0), rgb(175, 50, 50), rgb( 0, 0, 0), rgb(200, 80, 80), rgb( 0, 0, 0), rgb(125, 10, 200), rgb( 0, 0, 0), rgb(0, 0, 200), rgb( 0, 0, 0));
}
/* fondo encabezado */
header {
    position: sticky;
    top: 0; 
    background: linear-gradient(to right, rgb( 0, 0, 0), rgb(200, 200, 100), rgb( 0, 0, 0), rgb(200, 50, 50), rgb( 0, 0, 0), rgb(250, 100, 100), rgb( 0, 0, 0), rgb(150, 50, 250), rgb( 0, 0, 0), rgb(50, 50, 250), rgb( 0, 0, 0));
    z-index: 1000;
}
footer {
    background: linear-gradient(to right, rgb( 0, 0, 0), rgb(200, 200, 100), rgb( 0, 0, 0), rgb(200, 50, 50), rgb( 0, 0, 0), rgb(250, 100, 100), rgb( 0, 0, 0), rgb(150, 50, 250), rgb( 0, 0, 0), rgb(50, 50, 250), rgb( 0, 0, 0));
}
.preloader {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgb( 0, 0, 0), rgb(175, 175, 100), rgb( 0, 0, 0), rgb(175, 50, 50), rgb( 0, 0, 0), rgb(200, 80, 80), rgb( 0, 0, 0), rgb(125, 10, 200), rgb( 0, 0, 0), rgb(0, 0, 200), rgb( 0, 0, 0));
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10000;
}
.spiner1, .spiner2, .spiner3, .spiner4, .spiner5 {
    width: 125px;
    height: 125px;
    border-top: 10px solid rgb(0, 0, 200);
    border-right: 10px solid transparent;
    border-radius: 50%;
    animation: spin 1.5s linear infinite;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 1000000;
}

.spiner > div {
    box-sizing: border-box;
    margin: auto;
    width: 100%;
    height: 100%;
    animation: spin 1s linear infinite;

}
@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}
.logo_encabezado {
    border-radius: 50%;
    box-shadow: 0 0 10px 10px rgba(20, 20, 20, 0.7);
}
.zoom_img{
    transition: width 0.75s, height 0.75s, transform 0.75s;
    -moz-transition: width 0.75s, height 0.75s, transform 0.75s;
    -webkit-transition: width 0.75s, height 0.75s, transform 0.75s;
    -o-transition: width 0.75s, height 0.75s, transform 0.75s;
    transition: all 0.75s;
    }
.zoom_img:hover{
    transform : scale(1.125);
    -moz-transform : scale(1.125);
    -webkit-transform : scale(1.125);
    -o-transform : scale(1.125);
    box-shadow: 0 0 15px 10px rgba(20, 20, 20, 0.7);
    }
.primera:hover {
    color: rgb(250,250,0);
}
.segunda:hover {
    color: rgb(250,250,0);
}
.tercera:hover {
    color: rgb(250,250,0);
}
.cuarta:hover {
    color: rgb(250, 0, 0);
}
.quinta:hover {
    color: rgb(250, 0, 0);
}
.sexta:hover {
    color: rgb(250, 0, 0);
}
.septima:hover {
    color: rgb(250, 0, 0);
}
.octaba:hover {
    color: rgb(250, 0, 0);
}
.novena:hover {
    color: rgb(150, 50, 150);
}
.decima:hover {
    color: rgb(150, 50, 150);
}
.decimo_primera:hover {
    color: rgb(0, 0, 250);
}
.decimo_segunda:hover {
    color: rgb(0, 0, 250);
}
.decimo_tercera:hover {
    color: rgb(0, 0, 250);
}
.decimo_cuarta:hover {
    color: rgb(0, 0, 250);
}
.decimo_quinta:hover {
    color: rgb(0, 0, 250);
}
/* padding:espacio arriba, espacio derecha, espacio abajo, espacio izquierda ; */
.decima, .octaba, .tercera {
    padding: 0 12px 0 0;
}
.letra_titulo {
    transition: all 0.3s;
}
.titulo-paginas {
    text-align: center;
    font-size: 4rem;
    font-weight: 900;
    border-radius: 5px;
    background-color: rgba(200,200,200,0.3);
    /* distribucion de la sombra: eje X eje Y difuminado tamaño color */
    box-shadow: 5px 5px 10px 10px rgba(100,100,100,0.4);
    backdrop-filter: blur( 10px );
    border: 1px solid rgba(100, 100, 100, 1) ;
}
/* boton navegacion encabezado responsive */
.navbar-toggler {
    background: linear-gradient(to top , rgb(50, 50, 50), rgb(255, 255, 255), rgb(50, 50, 50), rgb(255, 255, 255), rgb(50, 50, 50), rgb(255, 255, 255), rgb(50, 50, 50));
}
.nav-link {
    color: rgba(255,255,255,1);
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgba(255, 255, 255, 0.1);
}
.text-center input {
    font-size: 1.5rem;
}
.buscador {
    width: 100%;
}
/* contenedor total de los acordeones */
.acordion {
    background-color: rgba(255, 255, 255, 0);
}
.acordion-header {
    margin-bottom: 0 ;
}
/* cuerpo del acordeon desplegado */
.accordion-body, .desc_corta {
    font-size: 20px;
    font-weight: 500;
}
.accordion-body, .contenedor_detalle {
    background-color: rgba(250, 250, 250, 0.4);
    backdrop-filter: blur( 30px );
    border-radius: 10px;
}
/* boton del acordeon al pasar el puntero cuando esta desplegado */
.accordion-button:not(.collapsed) {
    background-color: rgba(20, 20, 20, 0.7);
    backdrop-filter: blur( 20px );
}
.accordion-button:not(.collapsed)::after {
    transform: none !important;
}
.accordion-button {
    background-color: rgba(100, 100, 100, 0.7);
    backdrop-filter: blur( 10px );
}
/* contenedor de botones animados */
.btn {
    font-weight: 800;
	line-height: 50px;
	text-align: center;
	cursor: pointer;
}
/* boton animacion lateral */
.btn-one {
	transition: all 0.3s;
	position: relative;
	transition: all 0.3s;
    border: 1px solid rgba(0, 0, 0, 1);
}
.btn-one::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: rgba(255,255,255,0.5);
	border-bottom-color: rgba(255,255,255,0.5);
	transform: scale(0.1, 1);
}
.btn-one:hover {
	letter-spacing: 2px;
    background-color: rgba(25, 25, 25, 0.8);
}
.btn-one:hover::before {
	opacity: 1;	
	transform: scale(1, 1);	
}
.btn-one::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.3s;
	background-color: rgba(255,255,255,0.1);
}
.btn-one:hover::after {
	opacity: 0;	
	transform: scale(0.1, 1);
}
/* boton animacion cruz */
.btn-two {
	color: #FFF;
	transition: all 0.3s;
	position: relative;	
    backdrop-filter: blur( 1rem );
}
.btn-two {
	z-index: 2;	
	display: block;
	position: relative;
}
.btn-two::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.5s;
	border: 1px solid rgba(255,255,255,0.2);
	background-color: rgba(255,255,255,0.1);
}
.btn-two::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.5s;
	border: 1px solid rgba(255,255,255,0.2);
	background-color: rgba(255,255,255,0.1);
}
.btn-two:hover::before {
    transform: rotate(-45deg);
    background-color: rgba(255,255,255,0);
}
.btn-two:hover::after {
    transform: rotate(45deg);
    background-color: rgba(255,255,255,0);
}
/* titulo video */
.texto_titulo, .titulo_footer_card {
    font-size: 35px;
    font-weight: 800;
}
.texto_parrafo, .descripcion_footer_card {
    font-size: 20px;
    font-weight: 600;
}
/* ajustes resposividad video acerca de */
.contenedor {
    margin-top: 1rem;
    padding: 10px;
    border: 1px solid rgb(125, 125, 125);
    border-radius: 10px;
    background-color: rgba(120, 120, 120, 0.5);
    box-shadow: 0 0 10px 10px rgba(255,255,255,0.25);
    backdrop-filter: blur( 1rem );
}
/* zoom lista acerca de */
.fondo_items {
    background-color: rgba(200, 200, 200, 0.5);
    margin: 2px;
}
.zoom {
    border-radius: 10px;
    transition: transform 0.3s;
}
.zoom:hover {
    transform: scale(1.15);
    background-color: rgba(250, 250, 250, 0.2);
}
/* campos versiones */
.titulo_version, .titulo_curso {
    font-size: 35px;
    font-weight: 700;
}
.titulo_curso {
    color: rgb( 255, 255, 255);
}
.descripcion_version, .descripcion_curso  {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}
/* zoom imagenes versiones */
.zoom_img_ver {
    transition: transform 0.2s;
    border-radius: 5px;
}
.zoom_img_ver:hover {
    transform: scale(1.15);
}
.dropdown-toggle::after {
    margin-left: 0;
}
.enlace {
    margin-top: 1rem;
    font-size: 25px;
    font-weight: 700;
    color: rgba(250, 0, 0, 0.7);
    text-decoration: none;
    text-shadow: 0 0 5px red;
}
.enlace:hover {
    color: rgba(150, 25, 25, 1);
}
/* titulo footer */
.titulo_footer {
    font-size: 45px;
    font-weight: 900;
}
/* mensaje */
.mensaje_error {
    text-shadow: 0 0 5px rgba(255, 0, 0, 1);
    animation: parpadear 1s backwards ;
}
@keyframes parpadear {
    to {
        color: rgb(100, 0, 0);
        text-shadow: none;
    }
}
.formulario {
    border-radius: 10px;
}
label {
    font-size: 1.5rem;
    font-weight: 700;
}
.link-info {
    font-weight: 600;
}
.botones {
    font-size: 1rem;
    font-weight: 700;
}
.contenedor-botones {
    width: 11rem;
}