{% extends 'core/base.html' %}
{% load static %}
{% block title %}Listado de Cursos{% endblock title %}
{% block estilos %}{% static 'css/estilos.css' %}{% endblock estilos %}
{% block nav_inicio %}{% url 'core:index' %}{% endblock nav_inicio %}
{% block nav_acerca_de %}{% url 'core:acerca_de' %}{% endblock nav_acerca_de %}
{% block contactanos %}{% url 'core:contactanos' %}{% endblock contactanos %}
{% block busqueda %}
<div class="container-fluid">
    <form class="d-flex" method="GET">
        <input class="form-control buscador" type="search" placeholder="buscar curso" aria-label="Search" name="buscar">
        <button class="btn btn-one nav-link" type="submit"><font size="5">Buscar</font></button>
    </form>
</div>
{% endblock busqueda %}
{% block content %}

<!--raul-->
{% include 'cursos/includes/mensajes_alertas.html' %}
<!--fin-->
    {% if user.username  %}
        <div class="contenedor text-center text-light">
            <h2 class="titulo_curso">Bienvenido {{ user.username | upper }} <br> ¿Listo para aprender?</h2>
        </div>
    {% endif %}

    <div class="text-center">                               
        <a class="nav-link btn btn-one" href="{% url 'cursos:curso_crear' %}"><font size="5">Crear Nuevo Curso</font></a>
    </div>
    <div class="container">
    {% if curso_list %}
            {% for tema_curso in curso_list %}
            <div class="row contenedor">
                <div class="col-12 col-lg-7 contenedor_detalle p-2">
                    <a class="nav-link btn btn-one bg-dark" href="{% url 'cursos:curso_detalle' tema_curso.pk %}">
                        <h2 class="titulo_curso">{{tema_curso.nombre}}</h2>
                    </a>
                    <p class="text-dark desc_corta">{{tema_curso.desc_corta}}</p>
                </div>
                <div class="col-12 col-lg-5 row">
                    <img class="zoom w-75 mx-auto d-block" src="{{tema_curso.imagen.url}}" alt="foto curso">
                </div>
            </div>
            {% endfor %}
    {% else %}
        <h2 class="mensaje_error">No hay elementos que coincidan con "{{busqueda}}"</h2>
    {% endif %}
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end p-3">
        {% if curso_list.has_previous %}
            <li class="page-item">
                <a class="page-link bg-dark link-info" href= "?page={{ curso_list.previous_page_number }}"><font size="4">Anterior</font></a>
            </li>
        {% endif %}
        {% for pagina in curso_list.paginator.page_range %}
            {% if pagina == page_obj.number %}
                <li class="page-item">
                    <a class="page-link bg-dark link-info" href="#"><font size="4">{{ pagina }}</font></a>
                </li>                
            {% else %}
                <li class="page-item">
                    <a class="page-link bg-dark link-info" href="?page={{ pagina }}"><font size="4">{{ pagina }}</font></a>
                </li>
            {% endif %}
        {% endfor %}
        {% if curso_list.has_next %}
            <li class="page-item">
                <a class="page-link bg-dark link-info" href="?page={{ curso_list.next_page_number }}"><font size="4">Siguiente</font></a>
            </li>
        {% endif %}
        </ul>
    </nav>
{% endblock content %}
