{% extends 'core/base.html' %}
{% load static %}
{% block title %}Borrar Curso{% endblock title %}
{% block estilos %}{% static 'css/estilos.css' %}{% endblock estilos %}
{% block nav_inicio %}{% url 'core:index' %}{% endblock nav_inicio %}
{% block nav_acerca_de %}{% url 'core:acerca_de' %}{% endblock nav_acerca_de %}
{% block contactanos %}{% url 'core:contactanos' %}{% endblock contactanos %}
{% block content %}
    <div class="container">
        <div class="row mt-3 mb-5">
            <div class="col-md-9 mx-auto">
                <div class="alert alert-warning d-flex align-items-center" role="alert">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                    </svg>
                    <div>
                        <h2>¿Quieres borrar "{{ object }}"?</h2>
                    </div>
                </div>
                <form action="" method="post">{% csrf_token %}
                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                                <input type="submit" class="nav-link btn btn-one" value="Confirmar" />
                            </div>
                            <div class="col-6">
                                <a style="text-decoration: none;" href="{% url 'cursos:curso_detalle' curso.pk %}">
                                    <input type="button" class="nav-link btn btn-one" value="Cancelar">
                                </a>
                            </div>
                        </div>
                    </div>
                </form>      
            </div>
        </div>
    </div>
{% endblock %}
