{% extends 'core/base.html' %}
{% load static %}
{% block title %}Crear Curso{% endblock title %}
{% block estilos %}{% static 'css/estilos.css' %}{% endblock estilos %}
{% block nav_inicio %}{% url 'core:index' %}{% endblock nav_inicio %}
{% block nav_acerca_de %}{% url 'core:acerca_de' %}{% endblock nav_acerca_de %}
{% block contactanos %}{% url 'core:contactanos' %}{% endblock contactanos %}
{% block content %}
    <div class="container">
        <div class="row mt-3 mb-5">
            <div class="col-md-9 mx-auto">
                <form action="" method="post" class="bg-dark p-3" enctype="multipart/form-data">{% csrf_token %}
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Título</label>
                        <input type="text" class="form-control" id="nombre" placeholder="Título" name="nombre">
                    </div>
                    <div class="mb-3">
                        <label for="descripcion_corta" class="form-label">Descripción Corta:</label>
                        <textarea id="descripcion_corta" class="form-control" rows="4" placeholder="Descripción corta del tema." name="desc_corta"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="descripcion_larga" class="form-label">Descripción Larga</label>
                        <textarea id="descripcion_larga" class="form-control" rows="7" placeholder="Descripción larga del tema." name="desc_larga"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="imagen" class="form-label">Imagen:</label>
                        <input type="file" accept="image/*" id="imagen" placeholder="Imagen" name="imagen">
                    </div>
                    <div class="mb-3">
                        <label for="url_video" class="form-label">Video sobre el curso:</label>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon3">https://example.com/users/</span>
                            <input type="url" class="form-control" id="url_video" aria-describedby="basic-addon3" placeholder="Link video" name="url_video">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="url_documentacion" class="form-label">Documentacion sobre el curso:</label>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon3">https://example.com/users/</span>
                            <input type="url" class="form-control" id="url_documentacion" aria-describedby="basic-addon3" placeholder="Link Documentacion" name="url_documentacion">
                        </div>
                    </div>
                    <div class="text-center p-2">
                        <input type="submit" class="nav-link btn btn-one" value="crear"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}