{% extends 'core/base.html' %}
{% load static %}
{% block title %}Actualizar Curso{% endblock title %}
{% block estilos %}{% static 'css/estilos.css' %}{% endblock estilos %}
{% block nav_inicio %}{% url 'core:index' %}{% endblock nav_inicio %}
{% block nav_acerca_de %}{% url 'core:acerca_de' %}{% endblock nav_acerca_de %}
{% block contactanos %}{% url 'core:contactanos' %}{% endblock contactanos %}
{% block content %}
    <div class="container">
        <div class="row mt-3 mb-5">
            <div class="col-md-9 mx-auto">
                <form action="" method="post" class="bg-dark p-3" enctype="multipart/form-data">{% csrf_token %}
                    {{ form.as_p }}
                    <div class="text-center">
                        <input type="submit" class="nav-link btn btn-one" value="Actualizar" />
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}