{% extends 'core/base.html' %}
{% load static %}
{% block title %}{{curso.nombre}}{%endblock title %}
{% block estilos %}{% static 'css/estilos.css' %}{% endblock estilos %}
{% block nav_inicio %}{% url 'core:index' %}{% endblock nav_inicio %}
{% block nav_acerca_de %}{% url 'core:acerca_de' %}{% endblock nav_acerca_de %}
{% block contactanos %}{% url 'core:contactanos' %}{% endblock contactanos %}
{% block content %}
    <div class="row accordion-body">
        <div class="col-12 col-lg-7">
            <h2 class="titulo_curso">{{curso.nombre}}</h2>
            <p class="descripcion_curso text-dark">{{curso.desc_larga}}</p>
        </div>
        <div class="col-12 col-lg-5 row">
            <img class="zoom" src="{{curso.imagen.url}}" alt="foto curso">
            <a target="_blank" class="enlace text-center" href="{{curso.url_video}}">
                <span class="align-middle">Enlace video sobre {{curso.nombre}}</span>
            </a>
            <a target="_blank" class="enlace text-center" href={{curso.url_documentacion}}>
                <span class="align-middle"> Enlace Documentacion sobre {{curso.nombre}}</span>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-2">
            <a class="nav-link btn btn-two" href="{% url 'cursos:actualizar_curso' curso.pk %}">Actualizar</a>
        </div>
        <div class="col-12 col-sm-2">
            <a class="nav-link btn btn-two" href="{% url 'cursos:borrar_curso' curso.pk %}">borrar</a>
        </div>
    </div>
    
{% endblock content %} 