{% extends 'core/base.html' %}
{% load static %}
{% block title %}Iniciar Sesión{% endblock title %}
{% block estilos %}{% static 'css/estilos.css' %}{% endblock estilos %}
{% block nav_inicio %}{% url 'core:index' %}{% endblock nav_inicio %}
{% block nav_acerca_de %}{% url 'core:acerca_de' %}{% endblock nav_acerca_de %}
{% block contactanos %}{% url 'core:contactanos' %}{% endblock contactanos %}
{% block content %}

{% if form.errors %}
	<div class="alert alert-danger d-flex align-items-center" role="alert">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </svg>
        <div>
            <h2>Tu nombre de usuario y contraseña no coinciden. Inténtalo de nuevo.</h2>
        </div>
    </div>
{% endif %}

{% if next %}
{% if user.is_authenticated %}
    	<div class="alert alert-success d-flex align-items-center" role="alert">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </svg>
        <div>
            <h2>Inicie sesión para ver esta página.</h2>
        </div>
    </div>
    {% endif %}
{% endif %}

<form method="POST" action="{% url 'usuarios:inicio_sesion' %}">
{% csrf_token %}
    <div class="mb-3">
        <label for="nombre" class="form-label">nombre</label>
        <input type="text" class="form-control" id="nombre" name="username">
    </div>
    <div class="mb-3">
        <label for="contrasenia" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="contrasenia" name="password">
    </div>
    <input type="hidden" name="next" value="{{ next }}">
    <input type="submit" value="login">
</form>

{% endblock content %}
