{% extends 'core/base.html' %}
{% load static %}
{% block title %}Registrarse{% endblock title %}
{% block estilos %}{% static 'css/estilos.css' %}{% endblock estilos %}
{% block nav_inicio %}{% url 'core:index' %}{% endblock nav_inicio %}
{% block nav_acerca_de %}{% url 'core:acerca_de' %}{% endblock nav_acerca_de %}
{% block contactanos %}{% url 'core:contactanos' %}{% endblock contactanos %}
{% block content %}
    <form method="GET">
        {% csrf_token %}
        <div class="mb-3">
            <label for="correo" class="form-label">Email</label>
            <input type="email" name="email" id="correo" class="form-control" placeholder="Email" required autofocus>
        </div>
        <div class="mb-3">
            <label for="nombre_usuario" class="form-label">Nombre de usuario</label>
            <input type="text" name="username" id="nombre_usuario" class="form-control" placeholder="Nombre de usuario" required>
        </div>
        <div class="mb-3">
            <label for="contrasenia" class="form-label">Contraseña</label>
            <input type="password" name="password" id="contrasenia" class="form-control" placeholder="Contraseña" required>
        </div>
        <div class="mb-3">
            <label for="contrasenia_validacion" class="form-label">Repetir contraseña</label>
            <input type="password" name="password_confirmation" id="contrasenia_validacion" class="form-control" placeholder="Repetir contraseña" required>
        </div>
        <div class="checkbox mb-3"></div>
        <div class="text-center">
            <input type="submit" class="btn btn-one" value="Actualizar" />
        </div>
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}
    </form>
{% endblock content %}